

**/*.pkl.*
*.pt
*.pkl
*.pickle
*.png
*.pdf
*.ckpt.*
*.xvg
*.mat
*.mp4
*.pyc
*.npz
*.p

Data/
Results/
Code/Utilities
Logs/
Literature/

Code/PostProcessing/*/*/Figures
Code/PostProcessing/*/*/Postprocessing_Logs*

# Code/PostProcessing/
Data/*
Results/*
Code/Utilities/*
Doc/*
OLD/
old/
__pycache__/


*.DS_Store
*.pyc
